@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Geist';
	src: url('/src/assets/fonts/Geist.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* styles.css */
.rendered-markdown h2,
h1 {
	@apply my-4 text-lg font-bold text-gray-600;
}

.rendered-markdown h3 {
	@apply my-4 text-sm font-bold text-gray-600;
}

.rendered-markdown p {
	@apply my-2 text-base leading-relaxed text-gray-600;
}

.rendered-markdown ul {
	@apply my-2 list-disc pl-5;
}

.rendered-markdown li {
	@apply my-1 text-base text-gray-600;
}

.rendered-markdown strong {
	@apply text-orange-500;
}
